doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/main.css')
        link(rel='icon', href='/images/logo.svg')
    body
        include ../partials/header/header.jade

        block content

        include ../partials/footer/footer.jade

    script(src='/javascripts/partials.js')
