extends layout

include ../partials/recipe-preview/recipe-preview.jade
block content
    main
        include ../partials/supermarket-selection/supermarket-selection.jade

        div.recipe-overview
            each recipe in recipes
                +recipe-preview(recipe)
