/* Basscss */
body { margin: 0 }
img { max-width: 100% }
svg { max-height: 100% }
/* Basscss Base Typography */

body {
  font-family: 'Open Sans';
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Museo;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

pre, code, samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 16px;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

h1 { font-size: 2.5em }
h2 { font-size: 2.369em }
h3 { font-size: 1.777em }
h4 { font-size: 1.333em }
h5 { font-size: 14px; font-size: .875rem }
h6 { font-size: 12px; font-size: .75rem }

/* Basscss Defaults */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {

  /* Cool */


  /* Warm */


  /* Gray scale */

}
/* Basscss Background Colors */

.bg-black  { background-color: #212121 }
.bg-gray   { background-color: #aaa }
.bg-silver { background-color: #ddd }
.bg-white  { background-color: #fff }

.bg-aqua  { background-color: #7fdbff }
.bg-blue  { background-color: #0074d9 }
.bg-navy  { background-color: #001f3f }
.bg-teal  { background-color: #39cccc }
.bg-green { background-color: #6CE6CB }
.bg-olive { background-color: #3d9970 }
.bg-lime  { background-color: #01ff70 }

.bg-yellow  { background-color: #ffdc00 }
.bg-orange  { background-color: #ff851b }
.bg-red     { background-color: #ff4136 }
.bg-fuchsia { background-color: #f012be }
.bg-purple  { background-color: #b10dc9 }
.bg-maroon  { background-color: #85144b }

.bg-darken-1 { background-color: #000000; background-color: rgba(0,0,0,.0625) }
.bg-darken-2 { background-color: #000000; background-color: rgba(0,0,0,.125) }
.bg-darken-3 { background-color: #000000; background-color: rgba(0,0,0,.25) }
.bg-darken-4 { background-color: #000000; background-color: rgba(0,0,0,.5) }

.bg-lighten-1 { background-color: #FFFFFF; background-color: rgba(255,255,255,.0625) }
.bg-lighten-2 { background-color: #FFFFFF; background-color: rgba(255,255,255,.125) }
.bg-lighten-3 { background-color: #FFFFFF; background-color: rgba(255,255,255,.25) }
.bg-lighten-4 { background-color: #FFFFFF; background-color: rgba(255,255,255,.5) }
/* Basscss Btn */

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 18px;
  line-height: 1.125rem;
  padding: 8px 16px;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: #000000;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Basscss Btn Outline */

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}
/* Basscss Colors */

.black  { color: #212121 }
.gray   { color: #aaa }
.silver { color: #ddd }
.white  { color: #fff }

.aqua  { color: #7fdbff }
.blue  { color: #0074d9 }
.navy  { color: #001f3f }
.teal  { color: #39cccc }
.green { color: #6CE6CB }
.olive { color: #3d9970 }
.lime  { color: #01ff70 }

.yellow  { color: #ffdc00 }
.orange  { color: #ff851b }
.red     { color: #ff4136 }
.fuchsia { color: #f012be }
.purple  { color: #b10dc9 }
.maroon  { color: #85144b }

.color-inherit { color: inherit }
.muted { opacity: .5 }
/* Basscss Color Base */

body {
  color: #212121;
  background-color: #f0f0f0;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  background-color: transparent;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}
/* Basscss Grid */

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
@media (min-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }

}
@media (min-width: 52em) {

  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }

}
@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }

}
/* Basscss Positions */

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }
/* Basscss Utility White Space */

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin: 8px; margin: .5rem }
.mt1 { margin-top: 8px; margin-top: .5rem }
.mr1 { margin-right: 8px; margin-right: .5rem }
.mb1 { margin-bottom: 8px; margin-bottom: .5rem }
.ml1 { margin-left: 8px; margin-left: .5rem }

.m2  { margin: 16px; margin: 1rem }
.mt2 { margin-top: 16px; margin-top: 1rem }
.mr2 { margin-right: 16px; margin-right: 1rem }
.mb2 { margin-bottom: 16px; margin-bottom: 1rem }
.ml2 { margin-left: 16px; margin-left: 1rem }

.m3  { margin: 32px; margin: 2rem }
.mt3 { margin-top: 32px; margin-top: 2rem }
.mr3 { margin-right: 32px; margin-right: 2rem }
.mb3 { margin-bottom: 32px; margin-bottom: 2rem }
.ml3 { margin-left: 32px; margin-left: 2rem }

.m4  { margin: 64px; margin: 4rem }
.mt4 { margin-top: 64px; margin-top: 4rem }
.mr4 { margin-right: 64px; margin-right: 4rem }
.mb4 { margin-bottom: 64px; margin-bottom: 4rem }
.ml4 { margin-left: 64px; margin-left: 4rem }

.mxn1 { margin-left: -8px; margin-left: -.5rem; margin-right: -8px; margin-right: -.5rem; }
.mxn2 { margin-left: -16px; margin-left: -1rem; margin-right: -16px; margin-right: -1rem; }
.mxn3 { margin-left: -32px; margin-left: -2rem; margin-right: -32px; margin-right: -2rem; }
.mxn4 { margin-left: -64px; margin-left: -4rem; margin-right: -64px; margin-right: -4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
.p0 { padding: 0 }

.p1  { padding: 8px; padding: .5rem }
.py1 { padding-top: 8px; padding-top: .5rem; padding-bottom: 8px; padding-bottom: .5rem }
.px1 { padding-left: 8px; padding-left: .5rem; padding-right: 8px; padding-right: .5rem }

.p2  { padding: 16px; padding: 1rem }
.py2 { padding-top: 16px; padding-top: 1rem; padding-bottom: 16px; padding-bottom: 1rem }
.px2 { padding-left: 16px; padding-left: 1rem; padding-right: 16px; padding-right: 1rem }

.p3  { padding: 32px; padding: 2rem }
.py3 { padding-top: 32px; padding-top: 2rem; padding-bottom: 32px; padding-bottom: 2rem }
.px3 { padding-left: 32px; padding-left: 2rem; padding-right: 32px; padding-right: 2rem }

.p4  { padding: 64px; padding: 4rem }
.py4 { padding-top: 64px; padding-top: 4rem; padding-bottom: 64px; padding-bottom: 4rem }
.px4 { padding-left: 64px; padding-left: 4rem; padding-right: 64px; padding-right: 4rem }
/* Basscss Input Range */

input[type=range] {
  vertical-align: middle;
  background-color: transparent;
}

.range-light {
  color: inherit;
  -webkit-appearance: none;
  padding-top: 8px;
  padding-top: .5rem;
  padding-bottom: 8px;
  padding-bottom: .5rem;
}

.range-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 8px;
  width: .5rem;
  height: 20px;
  height: 1.25rem;
  border-radius: 3px;
  background-color: currentcolor;
  cursor: pointer;
  margin-top: -8px;
  margin-top: -0.5rem;
}

/* Touch screen friendly pseudo element */
.range-light::-webkit-slider-thumb:before {
  content: '';
  display: block;
  position: absolute;
  top: -8px;
  top: -0.5rem;
  left: -14px;
  left: -0.875rem;
  width: 36px;
  width: 2.25rem;
  height: 36px;
  height: 2.25rem;
  opacity: 0;
}

.range-light::-moz-range-thumb {
  width: 8px;
  width: .5rem;
  height: 20px;
  height: 1.25rem;
  border-radius: 3px;
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor;
  cursor: pointer;
}

.range-light::-webkit-slider-runnable-track {
  height: 4px;
  height: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: #000000;
  background-color: rgba(0,0,0,.25);
}

.range-light::-moz-range-track {
  height: 4px;
  height: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: #000000;
  background-color: rgba(0,0,0,.25);
}

.range-light:focus {
  outline: none;
}

.range-light:focus::-webkit-slider-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 1px 2px currentcolor;
}

.range-light:focus::-moz-range-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}
/* Flex Object */

.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }

.flex-column  { -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column }
.flex-wrap    { -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap }

.flex-center   { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center }
.flex-baseline { -webkit-box-align: baseline; -webkit-align-items: baseline; -ms-flex-align: baseline; align-items: baseline }
.flex-stretch  { -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch }
.flex-start    { -webkit-box-align: start; -webkit-align-items: flex-start; -ms-flex-align: start; align-items: flex-start }
.flex-end      { -webkit-box-align: end; -webkit-align-items: flex-end; -ms-flex-align: end; align-items: flex-end }

.flex-justify  { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between }

/*
 * 1. Fix for Chrome 44 bug. https://code.google.com/p/chromium/issues/detail?id=506893
 */

.flex-auto {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}
.flex-grow { -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto }
.flex-none { -webkit-box-flex: 0; -webkit-flex: none; -ms-flex: none; flex: none }

.flex-first { -webkit-box-ordinal-group: 0; -webkit-order: -1; -ms-flex-order: -1; order: -1 }
.flex-last  { -webkit-box-ordinal-group: 100000; -webkit-order: 99999; -ms-flex-order: 99999; order: 99999 }
@media (min-width: 40em) {
  .sm-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}
@media (min-width: 52em) {
  .md-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}
@media (min-width: 64em) {
  .lg-flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex }
}

/* Basscss Utility Layout */

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }
/* Basscss Utility Typography */

.bold    { font-weight: bold; font-weight: bold }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

/* Partials */
body {
    min-width: 27em;
}

@font-face {
	font-family: Museo;
    font-weight: 300;
	font-style: normal;
    src: url("/fonts/Museo-300-Regular.woff") format("woff"),
         url("/fonts/Museo-300-Regular.ttf") format("truetype"),
         url("/fonts/Museo-300-Regular.svg") format("svg");
}

@font-face {
	font-family: Museo;
    font-weight: 500;
	font-style: normal;
    src: url("/fonts/Museo-500-Regular.woff") format("woff"),
         url("/fonts/Museo-500-Regular.ttf") format("truetype"),
         url("/fonts/Museo-500-Regular.svg") format("svg");
}

@font-face {
	font-family: Museo;
    font-weight: 700;
	font-style: normal;
    src: url("/fonts/Museo-700-Regular.woff") format("woff"),
         url("/fonts/Museo-700-Regular.ttf") format("truetype"),
         url("/fonts/Museo-700-Regular.svg") format("svg");
}
footer {
    margin: 1em 0 0.5em 1em;
    bottom: 0;
}

footer img {
    width: 5em;
    opacity: 0.5;
    display: inline;
    margin-right: 1em;
}
.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.5em 0;
    background: #fff;
    border-bottom: 0.25em #6CE6CB solid;
}

.header-title {
    color: #212121;
    margin: 0;
    line-height: normal;
}

.header-logo {
    height: 4em;
    margin: 0 1em;
}

/* leaking styles */
.hero {
    height: 20em;
    background: url('/images/hero.jpg');
    background-size: cover;
    position: relative;
}

.hero-header {
    color: #fff;
    margin: 1em;
    margin-top: 0;
    padding-top: 1em;
    text-shadow: 1px 1px 2px #212121;
    font-weight: bold;
    font-family: 'Open Sans';
}

.hero-call {
    background: #0074d9;
    color: white;
    display: block;
    max-width: 10em;
    margin: 5em auto 0 auto;
}
.preferences {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 30em;
    margin: 0 auto;
}

.preferences label {
    margin: 2.5em 0 3.5em 0;
}

.preferences label:first-child {
    margin-bottom: 0;
}

.preferences input {
    width: 95%;
}

.ingredient-selection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}

.ingredient-option {
    display: inline-block;
    margin: 1em 0.5em 0.5em 0.5em;
    width: 5em;
}

.ingredient-option label {
    cursor:pointer;
    visibility: hidden;
    width: 0;
}

.ingredient-option label img {
    cursor: pointer;
    visibility: visible;
}

.ingredient-option input {
    display: none;
}

.ingredient-option input + label img {
    opacity: 0.4;
    -webkit-transition: opacity 0.7s;
            transition: opacity 0.7s;
}

.ingredient-option input:checked + label img {
    opacity: 1;
}
.supermarket-selection {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
    border-bottom: 2px solid #ddd;
    width: 100%;
}

.supermarket-option {
    display: inline-block;
    margin: 1em 0.5em 0.5em 0.5em;
    width: 3.5em;
}

.supermarket-option label {
    cursor:pointer;
    visibility: hidden;
    width: 0;
}

.supermarket-option label img {
    cursor: pointer;
    visibility: visible;
}

.supermarket-option input {
    display: none;
}

.supermarket-option input + label img {
    opacity: 0.4;
    -webkit-transition: opacity 0.7s;
            transition: opacity 0.7s;
}

.supermarket-option input:checked + label img {
    opacity: 1;
}
/* leaking style */
.recipe-overview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.recipe-preview {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: #fff;
    max-width: 35em;
    margin: 2em;
    position: relative;
    overflow: hidden;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
}

.recipe-preview-disabled {
    display: none;
}

/* Rough day */
.recipe-preview-link {
    text-decoration: none !important;
}

.recipe-preview-description {
    padding: 1em 1em 0.5em;
}

.recipe-preview-description ul {
    padding: 0;
    list-style: none;
}

.recipe-preview-description ul li {
    display: inline;
    padding: 0 1em;
    color: #212121;
    border-left: 1px solid #aaa;
}

.recipe-preview-description ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

.recipe-preview-image {
    width: 100%;
    display: block;
}

.recipe-preview-title {
    color: #212121;
    line-height: 2em;
    margin: 0;
}

.recipe-preview-discount {
    position: absolute;
    top: 1.5625em;
    right: -3.125em;
    width: 12.5em;
    text-align: center;
    font-weight: bold;
    line-height: 3.125em;
    letter-spacing: 0.0625em;
    background: #ff4136;
    color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.recipe-preview-supermarket {
    position: absolute;
    bottom: -16px;
    bottom: -1rem;
    left: 16px;
    left: 1rem;
    width: 4em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.recipe-preview-health {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6em;
}

/* Modules */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
-webkit-touch-callout: none;
-webkit-user-select: none;
-ms-touch-action: none;
	touch-action: none;	
-ms-user-select: none;
-moz-user-select: none;
box-sizing: border-box;
}
.noUi-target {
	position: relative;
	direction: ltr;
}
.noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1; /* Fix 401 */
}
.noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}
.noUi-handle {
	position: relative;
	z-index: 1;
}
.noUi-stacking .noUi-handle {
/* This class is applied to the lower origin when
   its values is > 50%. */
	z-index: 10;
}
.noUi-state-tap .noUi-origin {
-webkit-transition: left 0.3s, top 0.3s;
	transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
	cursor: inherit !important;
}

/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
	height: 18px;
}
.noUi-horizontal .noUi-handle {
	width: 34px;
	height: 28px;
	left: -17px;
	top: -6px;
}
.noUi-vertical {
	width: 18px;
}
.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

/* Styling;
 */
.noUi-background {
	background: #FAFAFA;
	box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
	background: #3FB8AF;
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45);
-webkit-transition: background 450ms;
	transition: background 450ms;
}
.noUi-origin {
	border-radius: 2px;
}
.noUi-target {
	border-radius: 4px;
	border: 1px solid #D3D3D3;
	box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
	box-shadow: inset 0 0 3px rgba(51,51,51,0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-draggable {
	cursor: w-resize;
}
.noUi-vertical .noUi-draggable {
	cursor: n-resize;
}
.noUi-handle {
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #FFF;
	cursor: default;
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #EBEBEB,
				0 3px 6px -3px #BBB;
}
.noUi-active {
	box-shadow: inset 0 0 1px #FFF,
				inset 0 1px 7px #DDD,
				0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	width: 1px;
	background: #E8E7E6;
	left: 14px;
	top: 6px;
}
.noUi-handle:after {
	left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}
.noUi-vertical .noUi-handle:after {
	top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
	background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
	cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
box-sizing: border-box;
}
.noUi-pips {
	position: absolute;
	color: #999;
}

/* Values;
 *
 */
.noUi-value {
	width: 40px;
	position: absolute;
	text-align: center;
}
.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

/* Markings;
 *
 */
.noUi-marker {
	position: absolute;
	background: #CCC;
}
.noUi-marker-sub {
	background: #AAA;
}
.noUi-marker-large {
	background: #AAA;
}

/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
	padding: 10px 0;
	height: 50px;
	top: 100%;
	left: 0;
	width: 100%;
}
.noUi-value-horizontal {
	margin-left: -20px;
	padding-top: 20px;
}
.noUi-value-horizontal.noUi-value-sub {
	padding-top: 15px;
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 2px;
	height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
	height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
	height: 15px;
}

/* Vertical layout;
 *
 */
.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}
.noUi-value-vertical {
	width: 15px;
	margin-left: 20px;
	margin-top: -5px;
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}
.noUi-tooltip {
	display: block;
	position: absolute;
	border: 1px solid #D9D9D9;
	border-radius: 3px;
	background: #fff;
	padding: 5px;
	left: -9px;
	text-align: center;
	min-width: 50px;
    white-space: nowrap;
}

.noUi-handle-lower .noUi-tooltip {
	top: -150%;
}

.noUi-handle-upper .noUi-tooltip {
	bottom: -150%;
}

/* Views */
.recipe-image {
    width: 100%;
    display: block;
}

.recipe-section {
    background: #fff;
    padding: 1em;
}

.recipe-keypoints {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.recipe-key-point {
    -webkit-flex-basis: 33%;
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%;
    border-right: 1px solid #ddd;
    text-align: center;
    font-style: oblique;
    padding: 2em 0;
}

.recipe-key-point:last-child {
    border: 0;
}

.recipe-key-point dt {
    color: #aaa;
}

.recipe-key-point dd {
    font-size: 1.777em;
    font-family: Museo;
    font-weight: bold;
    margin: 0;
}

.recipe-ingredients li {
    padding: 1em 0;
    font-size: 110%;
    border-bottom: 1px solid #ddd;
    font-family: 'Open Sans Light', 'Open Sans';
    position: relative;
    width: 100%
}

.recipe-discount {
    font-weight: bold;
    position: absolute;
    right: 0;
}
