.header {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
    background: var(--white);
    border-bottom: 0.25em var(--green) solid;
}

.header-title {
    color: var(--black);
    margin: 0;
    line-height: normal;
}

.header-logo {
    height: 4em;
    margin: 0 1em;
}

/* leaking styles */
.hero {
    height: 20em;
    background: url('/images/hero.jpg');
    background-size: cover;
    position: relative;
}

.hero-header {
    color: var(--white);
    margin: 1em;
    margin-top: 0;
    padding-top: 1em;
    text-shadow: 1px 1px 2px var(--black);
    font-weight: bold;
    font-family: 'Open Sans';
}

.hero-call {
    background: var(--blue);
    color: white;
    display: block;
    max-width: 10em;
    margin: 5em auto 0 auto;
}
