/* leaking style */
.recipe-overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipe-preview {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background: var(--white);
    max-width: 35em;
    margin: 2em;
    position: relative;
    overflow: hidden;
    flex-basis: 100%;
}

.recipe-preview-disabled {
    display: none;
}

/* Rough day */
.recipe-preview-link {
    text-decoration: none !important;
}

.recipe-preview-description {
    padding: 1em 1em 0.5em;
}

.recipe-preview-description ul {
    padding: 0;
    list-style: none;
}

.recipe-preview-description ul li {
    display: inline;
    padding: 0 1em;
    color: var(--black);
    border-left: 1px solid var(--gray);
}

.recipe-preview-description ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

.recipe-preview-image {
    width: 100%;
    display: block;
}

.recipe-preview-title {
    color: var(--black);
    line-height: 2em;
    margin: 0;
}

.recipe-preview-discount {
    position: absolute;
    top: 1.5625em;
    right: -3.125em;
    width: 12.5em;
    text-align: center;
    font-weight: bold;
    line-height: 3.125em;
    letter-spacing: 0.0625em;
    background: var(--red);
    color: var(--white);
    transform: rotate(45deg);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.recipe-preview-supermarket {
    position: absolute;
    bottom: -1rem;
    left: 1rem;
    width: 4em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.recipe-preview-health {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6em;
}
